{% extends 'base.html' %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h2 class="auth-title">

            Create Account

        </h2>

        <form method="POST">

            <div class="mb-3">

                <label>Full Name</label>

                <input
                    type="text"
                    name="name"
                    class="form-control"
                    required>

            </div>

            <div class="mb-3">

                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    class="form-control"
                    required>

            </div>

            <div class="mb-4">

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    class="form-control"
                    required>

            </div>

            <button
                type="submit"
                class="btn auth-btn text-white">

                Register

            </button>

        </form>

        <div class="text-center mt-4">

            <p>

                Already have an account?

                <a href="/login">

                    Login

                </a>

            </p>

        </div>

    </div>

</div>

{% endblock %}